.layout {
  width: 100%;
  display: flex;
  justify-content: center;
}

.layout__nav--mobile {
  display: none;
  position: absolute;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.layout__mobile-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 57, 117, 0.1);
  opacity: 0.5;
}

.layout__nav--desktop {
  display: none;
}

.layout__container {
  width: 100%;
  display: flex;
}

.layout__main {
  width: 100%;
  min-height: 100vh;
}

.layout__search {
  display: none;
}

@media (min-width: 800px) {
  .layout__container {
    width: fit-content;
    margin: auto;
  }

  .layout__nav--mobile {
    position: fixed;
    left: 0px;
    display: flex;
    flex-direction: column;
    width: 76px;
    min-height: 99vh;
    border-right: 1px solid var(--border);
  }

  .layout__main {
    border-right: 1px solid var(--border);
    border-left: 1px solid var(--border);
    width: 600px;
  }
}

@media (min-width: 1300px) {
  .layout__nav--mobile {
    display: none;
  }

  .layout__nav--desktop {
    display: flex;
    position: sticky;
    width: 240px;
    height: fit-content;
    padding: 0 var(--spacing-5);
  }

  .layout__search {
    display: flex;
    width: 328px;
    height: fit-content;
    padding: var(--spacing-5) 0 var(--spacing-5) var(--spacing-7);
  }
}
