@import './variables.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  overflow-x: hidden;
  font-family: var(--font-primary);
  font-size: var(--text-md);
  font-weight: var(--font-weight-regular);
  color: var(--text-primary);
}

#main {
  display: flex;
  justify-content: center;
}

#app {
  max-width: 1440px;
  margin: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
