@media (min-width: 800px) {
  .nav {
    max-width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: left;
  }
  .nav__list {
    display: flex;
    flex-direction: column;
    justify-content: left;
  }
  .nav__item {
    display: flex;
    gap: var(--spacing-2);
    justify-content: left;
    align-items: center;
    height: 3rem;
    font-size: var(--text-lg);
    border-radius: var(--border-radius-sm);
    padding: var(--spacing-3);
    transition: all 100ms;
  }

  .nav__item:first-of-type {
    font-weight: var(--font-weight-bold);
  }

  .nav__item:hover {
    background-color: var(--hover-light);
  }

  .nav__button-container {
    padding-top: var(--spacing-5);
    padding-left: var(--spacing-3);
  }

  .nav__button {
    background-color: var(--brand-blue);
  }
}

/* @media (min-width: 1300px) {
  .nav {
    display
  }
  .nav__list {
    display: flex;
  }
  .nav__item {
    display: flex;
  }
} */
